body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 25px;
    padding: 0 15px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  nav {
    background-color: #000;
    padding: 10px;
    position: sticky;
    top: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }
  
  .feature {
    width: 200px;
}

article{
  flex: 2;
  margin-right: 20px;
}
article img.feature{
  float: left;
  margin-right: 20px;
  width: 240px;
}

article p{
  margin: 0 0 18px;
}

aside{
  flex: 1;
  width: 280px;
  margin-left: 24px;
}